extends layouts/main
include mixins/recipeBlock

block content 
    .recipes
        each recipe in recipes 
            +recipeBlock({
                imageFile: recipe.imageFile,
                title: recipe.title,
                name: recipe.creator.name
            })