extends layouts/main
include mixins/recipeBlock

block content 
    .search__header
        h3 Showing results for "#{searchingBy}"
    .search__recipes
        each recipe in recipes 
            +recipeBlock({
                imageFile: recipe.imageFile,
                title: recipe.title,
                name: recipe.creator.name
            })