extends layouts/main.pug

block content 
    .form-container
        form(action=`/videos${routes.upload}`, method="post")
            label(for="file") Image File
            input(type="file", id="file", name="file")
            input(type="text", placeholder="Title", name="title")
            textarea(name="ingredients", placeholder="Ingredients")
            textarea(name="recipe", placeholder="Recipe")
            input(type="submit", value="Create Recipe")